.container{
    display: flex;
    flex-direction: column;
    width:100%;
    align-items: center;
}

.title{
    margin-top: 20px;
    font-size: 28px;
    font-family: monospace;
}

.bodyContainer{
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content: space-evenly;
    margin-top:2rem;
}

.bodyContainer > .imgContainer {
    width: 60%;
    height:500px;
}

.bodyContainer > .textContainer {
    width: 30% ;
    height: 500px;

}

.textContainer > .title {
    font-size: 30px;
    text-wrap: wrap;
    font-family: monospace;
}
.textContainer > .price {
    background-color: lightblue;
    color: white;
    font-size: 18px;
    font-weight: bold;
    display: inline;
    padding:6px;
    border-radius: 5px;
}

