.divGrid{

    height:100px;
    background-color: rgb(69, 172, 196);
}
.divGrid1{

    height:100px;
    background-color: rgb(107, 196, 69);
}
.divGrid2{
    width: 100px;
    height:100px;
    background-color: rgb(164, 178, 41);
}
.divGrid3{
    width: 100px;
    height:100px;
    background-color: rgb(156, 39, 135);
}